html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #eeeeee;
    
}

<<<<<<< HEAD
td{
    padding: 10px;
    border-bottom: 1px solid #10fbd0;
=======


thead {
    background-color: #ffffff;
    color: rgb(78, 77, 77);
    font-size: 20px;
>>>>>>> 15f129ef73fd751b1d934993ce5ebe894c11839d
}

thead{
    background-color: #ffffff;
    color: rgb(78, 77, 77);
    font-size: 20px;
}


#csv-form{
    display:flex;
    height:350px;
    padding: 50px;
    width:330px;
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 185px;
    background: rgba(0, 0, 0, 0.849);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.671);
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px);
  border: 1px solid rgba(255, 255, 255, 0.096);

}



<<<<<<< HEAD
.table{
    min-width: 900px;
    margin-top:-440px;
    height:300px;
    margin-left: 460px;
}
=======
>>>>>>> 15f129ef73fd751b1d934993ce5ebe894c11839d

.csv-button,.upload-button{
    background-color: #090a0a;
    color: #eeeeee;
    border:  1px solid #41424280;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    height: 46px;
    line-height: 1.5;
    cursor: pointer;
    margin-left: 10px;
    

}

.csv-button{
<<<<<<< HEAD

    width:240px;
    margin-top: -10px;
    margin-bottom:100px;
}

.csv-input{
    background-color: #090a0a;
    color: #eeeeee;
    padding: 16px 15px 30px 15px;
    border-radius: 5px;
    font-size: 15px;
    font-style: italic;
    max-width: 200px;
    font-weight: 400;
    border:  1px solid #10fbd0;
    cursor: pointer;
    margin-left: 10px;

=======
>>>>>>> 15f129ef73fd751b1d934993ce5ebe894c11839d

    width:240px;
    margin-top: -10px;
    margin-bottom:100px;
}

<<<<<<< HEAD

#csv-form>h2{
=======
>>>>>>> 15f129ef73fd751b1d934993ce5ebe894c11839d


#csv-form>h2{
    margin:20px;
    font-size:25px;
}



.upload-button{
    margin-top:0px;
    width:240px;
}


<<<<<<< HEAD
=======

>>>>>>> 15f129ef73fd751b1d934993ce5ebe894c11839d
.address_upload:hover{
    cursor: pointer;
    color: #10fbd0;   
}

<<<<<<< HEAD
=======

.address-row{
    background-color: rgba(0, 0, 0, 0.698) !important;
    color:rgb(255, 255, 255);
    border-bottom: 1px solid #41424280;
  }

  td{
    padding-left:105px;
    display:  table-cell;
    font-size: 15px;
    
    
  }


  th{
    padding-left:20px;
    min-width: 150px;
    
  }

  table{
    border-collapse:collapse;
    border-spacing: 20px;
  }



  tr{
    line-height: 70px;
    border-bottom: 1px solid #314e4e31;
  }
  
 
>>>>>>> 15f129ef73fd751b1d934993ce5ebe894c11839d
