a{
   text-decoration:none;
   
  
   color:white;
   font: weight 300;
}



.coin-Array{
    margin-top:40px;
    width:55vw;
    height:82vh;
    padding:30px;
    margin-left:265px;
    border-radius:1px;
    color:rgb(255, 255, 255);
   
    border-radius: 8px;
    background: rgba(177, 19, 19, 0.561);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(231, 24, 24, 0.692);
    backdrop-filter: blur(1.2px);
    -webkit-backdrop-filter: blur(1.2px);
    border: 1px solid rgba(253, 106, 7, 0.938);
}

.coin-investment{
    display:flex;
    border-radius:8px;
    flex-direction:row;
    margin-top:40px;
    margin-left:50px;
    width:800px;
    height:100px;
    align-items:center;
    border-bottom:1px solid rgba(129, 123, 123, 0.178);
    justify-content:space-around;
    background-color:rgba(236, 136, 136, 0.123);
}

.Asset-Holding{
    margin-left:190px;
    margin-top:10px;
    font-size:25px;
    color:rgb(255, 255, 255);
}

.Invested-Capital{
    margin-left:620px;
    margin-top:-30px;
    font-size:25px;
    color:rgb(255, 255, 255);
}
.coin-name{
    margin-left:-220px;
}

.coin-investment>img{
    width:50px;
    height:50px;
}


@media screen and (max-width: 1023px) {

    body{
        overflow-x:hidden 
    }

    .coin-investment{
        overflow-x: hidden;
        display:flex;
        border-radius:8px;
        flex-direction:row;
        margin-top:40px;
        margin-left:0px;
        width:280px;
        height:100px;
        align-items:center;
        border-bottom:1px solid rgba(129, 123, 123, 0.178);
        justify-content:space-around;
        background-color:rgba(236, 136, 136, 0.123);
    }
    .Invested-Capital{
        margin-left:190px;
        
        font-size:20px;
        color:rgb(255, 255, 255);
    }

    .coin-name{
        margin-left:20px;
    }


    .coin-Array{
        margin-top:20px;
        width:75vw;
        height:82vh;
        padding:30px;
        margin-left:15px;
        border-radius:1px;
        color:rgb(255, 255, 255);
        border-radius: 8px;
        background: rgba(73, 22, 22, 0.561);
        border-radius: 5px;
        box-shadow: 0 4px 30px rgba(231, 24, 24, 0.692);
        backdrop-filter: blur(1.2px);
        -webkit-backdrop-filter: blur(1.2px);
        border: 1px solid rgba(138, 138, 138, 0.226);
    }

    .Asset-Holding{
        margin-left:10px;
        margin-top:10px;
        font-size:20px;
        color:rgb(255, 255, 255);
    }

    
}

